[Unit]
Description=Magic Character Box Deprecated Audio Keeper
After=sound.target
Wants=sound.target

[Service]
Type=oneshot
User=pi
ExecStart=/bin/true

[Install]
WantedBy=multi-user.target
